<!-- <button (click)="addData()">ADD DATA</button> 
 <button (click)="getSingleData()">GET SINGLE DATA</button> 
<button (click)="getDataById('I4TzIeo5337dWvdurClq')">GET DATA</button>

<button (click)="getData()">GET ALL DATA</button>ok
<p>hello world</p> -->
<p>hello</p>

<button (click)="getData()">GET ALL DATA</button>
<button (click)="getDataByEmail('saeed@gmail.com')">GET DATA BY EMAIL</button>

<ul>
    <li *ngFor="let item of data ">
         {{item.data.title | uppercase }}
         <button (click)="getDataById(item.id)">Details</button>
   </li>
</ul>

<p *ngIf="details != ''">{{details}}</p>

